---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About | Mohanakrishnan Rajamani">
  <section class="min-h-screen px-6 py-20 max-w-4xl mx-auto text-gray-300">

   <h1 class="text-4xl font-bold mb-8 text-white">About</h1>

  <p class="mb-6">
    With over 20 years of experience in the data and database ecosystem,
    I have evolved across multiple layers of enterprise technology —
    from hands-on development to enterprise architecture.
  </p>

  <p class="mb-6">
    I began my career as a Junior Oracle and PL/SQL Developer,
    transitioned into Data Warehousing and ETL architecture,
    gained exposure to production database administration,
    and later expanded into Big Data and Cloud-native platforms.
  </p>

  <p class="mb-6">
    Today, I specialize in PostgreSQL architecture and enterprise-grade
    relational database systems within modern cloud environments.
  </p>

  <h2 class="text-4xl font-bold mb-8 text-white">Current Focus</h2>
  <ul>
    <li>PostgreSQL Architecture & High Availability</li>
    <li>Database Modernization & Migration</li>
    <li>Data Modeling & Platform Design</li>
    <li>Cloud-native Database Deployments</li>
  </ul>

  <p class="mb-6">
    <p class="mb-6"></p>
    <strong>Mohanakrishnan Rajamani</strong><br />
    Data & Cloud Architect | PostgreSQL Specialist
  </p> 
  </section>
 
</BaseLayout>