---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Mohanakrishnan Rajamani is a PostgreSQL Architect and Data & Cloud Specialist with 20+ years of experience in database modernization, high availability, and cloud data platforms." />
    <meta name="keywords" content="PostgreSQL Architect, Data Architect India, Cloud Data Engineer, Database Migration, Oracle to PostgreSQL" />
    <link rel="canonical" href={`https://mohankrishnan83-github-io.vercel.app${Astro.url.pathname}`} />
 <title><slot name="title" />| Mohanakrishnan Rajamani - Cloud Data Architect </title>
  </head>

  <body class="bg-gray-950 text-gray-200 min-h-screen flex flex-col">

    <Navbar />

    <main class="flex-grow">
      <slot />
    </main>
    <div class="text-center text-xs text-gray-500 mt-10">
  Page visits: <span id="visitor-count">...</span>
</div>

<script>
  fetch("https://mohankrishnan83.goatcounter.com/counter//")
    .then(res => res.json())
    .then(data => {
      document.getElementById("visitor-count").innerText = data.count;
    })
    .catch(() => {
      document.getElementById("visitor-count").innerText = "0";
    });
</script>

  </body>
</html>